<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ponz.io</a>
      <ul class="nav navbar-nav navbar-right pull-right">
        {{#if currentUser}}
          <li><a href="/logout">Logout</a></li>
        {{else}}
          <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
