<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-success">
  <a class="navbar-brand" href="/" style="font-family: Italianno, cursive; font-size: 50px">
  	Ponz.io
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
  <div class="collapse navbar-collapse justify-content-end"" id="navbarNav">
    <ul class="navbar-nav">
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/"><h4>{{user.username}}</h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout"><h4>Log Out</h4></a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>