<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-heading">
      <div class="navbar-brand">Ponz.io</div>
    </div>

    <ul class="nav navbar-nav navbar-right">
      {{#if currentUser}}
      <li>
        Our Team
      </li>
      <li>
        Our Scheme
      </li>
      <li>
        {{currentUser.email}}
      </li>
      <li>
        <a href="/logout">Log Out</a>
      </li>
      {{/if}}
    </div>
  </div>
</div>
