<div class="panel panel-success">
  <div class="panel-heading">
    <h2 class="panel-title">Ponz Points - <span id="ponz-points">{{user.points}}</span> (<span id="ponz-cash">{{user.cash}}</span>) </h2>
  </div>
</div>
