{{#each children as |child|}}
  <div>
    {{child.username}} has earned you <str>{{child.profit}}</str> PonzBucks! 
   <i> ponverted at {{child.createdAt}}</i>
  </div>
  {{#if child.children}}
    {{> childPartial children=child.children}}
  {{/if}}
{{/each}}