{{#each children as |child|}} {{! Each item is an "li" }}
    <div class="nested-group">
    		<div class="nested-text">
    			<p class="nested-line">{{child.points}}pz {{child.username}}</p>
    		</div>
        
        {{#if child.children.length}} {{! Within the context of the current item }}
        <div>
          {{> ponzvertPartial children=child.children}} {{! Recursively render the partial }}
        </div>
        {{/if}}
    </div>
{{/each}}
