<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ponzi.io</title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    {{> shared/_nav }}
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
        {{> shared/_flash }}
          {{{ body }}}
       

        </div>
      </div>
    </div>
  </body>
</html>