
  <div class="child-ponz" style="margin-left:{{indent child.depth}}">
    <div>
      <span class="label label-default">
        {{child.fname}} gave you <span class="badge badge-success">{{valueCalc child.depth}}</span>
      </span>
    </div>
    {{#each child.children as |child|}}
      {{> _child child=child}}
    {{/each}}
  </div>
