<div class="row">
  <div style="border: 2px solid blue;" class="col-sm-12">
    <h2>Your referral link is <a href="{{link}}">secret-atoll-15400.herokuapp.com{{link}}</a>.</h2>
    <p>Share this link with your friends to <i>ponvert</i> them</p>
  </div>
</div>

<div style="margin-top: 20px;" class="row">
  <div style="background-color: #77B26D; padding-bottom: 15px;" class="col-sm-12">
    <h1 style="color: white;">Ponzi Points: {{points}}</h1>
  </div>
</div>

<div style="margin-top: 20px;" class="row">
  <div style="background-color: #F8F6F9;" class="col-sm-12">
    <h4 style="color: black;">Your Ponverts</h4>
  </div>
</div>

<div style="margin-top: 20px;" class="row">
  <div style="background-color: white;" class="col-sm-12">
  <ul>
    {{> shared/_list}}
  </ul>
  </div>
</div>
