<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Project Ponz Yo! <small>Stack that cash!</small></h1>
    </div>
  </div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="well">
			<p class="text-center">
				http://localhost:3000/users/signup/?_referrerCode={{user.usernameEncoded}}
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		{{>_ponz-points}}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		{{>_ponverts}}
	</div>
</div>
