<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Project Ponz Yo! <small>Stack that cash!</small></h1>
    </div>
  </div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="well">
			<h2 class="text-center">
				http://localhost:3000/users/signup/?_referrerCode={{user.usernameEncoded}}
			</h2>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		{{>_ponz-points}}
	</div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Chain of Opportunity</h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="chain-link" src="/images/chain-link.png" />
          </div>
          <div class="col-md-1">
            <img class="chain-link" src="/images/chain-link.png" />
          </div>
          <div class="col-md-1">
            <img class="chain-link" src="/images/chain-link.png" />
          </div>
          <div class="col-md-1">
            <img class="chain-link" src="/images/chain-link.png" />
          </div>
          <div class="col-md-1">
            <img class="chain-link" src="/images/chain-link.png" />
          </div>
          <div class="col-md-1">
            <img class="chain-link" src="/images/chain-link.png" />
          </div>
          <div class="col-md-1">
            <img class="chain-link" src="/images/chain-link.png" />
          </div>
          <div class="col-md-1">
            <img class="chain-link" src="/images/chain-link.png" />
          </div>
          <div class="col-md-1">
            <img class="chain-link" src="/images/chain-link.png" />
          </div>
          <div class="col-md-1">
            <img class="chain-link" src="/images/chain-link.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
	<div class="col-md-12">
		{{>_ponverts}}
	</div>
</div>
<div class="hidden">
  <script>
  const treeGraph = new Treant({{{treeGraph}}}, function() { }, $);
  </script>
</div>
