<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Log In <small> Please Login to Make $$$ </small></h1>
      <h4> All the money awaits you inside...</h4>
    </div>
  </div>
</div>

<div class='row'>
  <div class="col-md-12">
    <form method='POST' class='form-horizontal'>
      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-5">
          <input type="username" class="form-control" id="username" name="username" Placeholder='Enter your username...' value='Bob-Karlton'>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-5">
          <input type="password" class="form-control" id="password" name="password">
        </div>
      </div>
      <br />
      <button class='btn btn-success col-sm-offset-2' type='submit' id='login now'>Login</button>
			 or
			<a href="/users/signup" class="btn btn-primary">Sign Up!</a>
    </form>
  </div>
</div>
