

<li >

  <span class='label label-success'>{{pointsCalculator ponzvert.depth}} points</span>: <strong>{{ponzvert.displayName}} </strong> <em>ponzverted on {{mmddyy ponzvert.createdAt}}</em>

  {{#if ponzvert.childIds.length }}
   {{#each ponzvert.childIds as |ponzvert|}}
      <ul >{{>referral ponzvert=ponzvert}}</ul>
   {{/each}}
  {{/if}}
</li>
