<h2 style="color:green">The Ponz.io Story</h2>
<br>
<div class="card border-success" style="text-align: left; padding: 30px">
	<p>
	One day, your business partner is at the grocery store. In her left hand, she is holding a "Buy 2 Get 1 Free" coupon, valid for any strain of America's Choice brand cereal, while her right hand, with fingers oddly contorted, was attempting to simultaneously pluck two boxes of Nutty Nuggets off of a pyramidically stacked display of Americas Choice brand cereals—when, suddenly, she is overcome with an exciting business idea, "What if this cereal were somewhat less expensive?"
	</p>
	<p>
	What if instead of a "Buy 1 Get 1 Free" coupon, she were instead in the possession of a "Get 1 Free" coupon? This would be significantly better, she thought. But how would this work? While gazing at the peculiarly constructed cereal display, her fingers still splayed awkwardly in at attempt to lift a pair of Nutty Nuggets boxes at once, it hit her. This fantasy coupon would allow her to get her free Nutty Nuggets only once she had convinced two friends to make an oath that they would either purchase a Box of Nutty Nuggets themselves or that they would likewise convince two of their friends to make the self-same oath.
	</p>
	<p>
	Speeding back from the grocery store, her right hand still painfully clutching the Nutty Nuggets she had accidentally shoplifted in her business-opportunity-fueled fugue state, she realizes that it would actually be fairer—and more compelling—if she received a portion of the credit for the friends-of-friends that were converted, as well as a smaller portion for the friends-of-friends-of-friends, and so on. Imagining herself standing atop the display of Nutty Nuggets, with something like 3 to 4 Free boxes of free NN to her name, she loses control of her sedan and flies into a small ditch.
	</p>
	<p>
	She ends up calling you to pick her up. In the car, she excitedly relays her entire business plan to you while eating from one of two boxes of Nutty Nuggets in her lap. "You've got to put your Ph.D. on hold and join me," she suggests. You're not sure you want to throw away your career in astrophysics for this idea, but her idea is just too good.
	</p>
	<p>
	The following day, after throwing your 20 binders of cutting-edge black hole research into Stanford's bio-waste incinerator, you dial up your friend and shout, "Let's get started!"
	</p>
	<p>
	Once a user signs up with Ponz.io—a name derived from our original coupons idea—they will be presented with their referral link. Their friends can follow this link to a custom signup form. Once a friend signs up, the original user will be awarded 40 Ponz points. When their friend, in turn, signs up another Ponvert, the original user will receive 20 Ponz points. This pattern will continue down the pyram—err, down the chain of opportunity forever, with the amount of rewarded Ponz points decreasing in the following pattern:
	</p>
	<p>
	Ponzversion Distance --> Ponz points (1 --> 40, 2 --> 20, 3 --> 10, 4 --> 5, 5 --> 2, 6+ --> 1)
	</p>
</div>