<div class="col-sm-8 col-sm-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-6">
          <h3>Shopping time, {{user.username}}</h3>
        </div>
        <div class="col-sm-3 col-sm-offset-3">
          <a href="/logout" class="btn btn-primary">Log Out</a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <h4>Spend those hard-earned PonzBucks!</h4>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-6">
          <h3>PonzShop</h3>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div>
        <h4>Ponz Brand Nutty Nuggets Cereal</h4>
        <form action="/shop" method="post">
          <button class="btn btn-primary">500 PonzBucks</button>
        </form>
      </div>
    </div>
  </div>
</div>