<div class="row">
  <h1> Triangle </h2>
</div>

{{#each triangleArr as |arr|}}
  <div class="row">
    {{#each arr as |email|}}
      <div class="col-xs-2">
        {{email}}
      <div>
    {{/each}}
  </div>
{{/each}}
