.panel-ponz {
  background-color: #74b566;
  color: #ffffff;
}

#ponz-heading {
  color: #cee5ca;
}

.badge {
  background-color: #74b566;
  margin-right: 5px;
  border-radius: 5px;
}

#ponzverts {
  margin: 20px 0 20px -20px;
}

.ponzvert {
  margin: 10px 0;
  list-style: none;
  border: none;
}
