body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
}

.tree-node {
	border-color: #77aadd;
	background-color: #99ccff;
	box-shadow: 1px 1px 2px #333;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 10px;
	margin-bottom: 0px;
}

a.collapse-switch {
	border-radius: 1px;
	border: 1px solid #f55 !important;
	transform: scale(3, 3);
}
