<h1>Welcome, {{currentUser.displayName}}! =D</h1>

<h3>Your referral link is: <a href='/register/{{currentUser._id}}'>http://www.ponz.io/register/{{currentUser._id}}</a></h3>

<p>
  Share this link with your <strong>friends</strong> to <em>ponvert</em> them!
</p>


<div>
  <h3>Ponz Pointz {{currentUser.ponzPoints}}</h3>
</div>

<div>
  <h3>Your Ponzverts</h3>

</div>
