<div class="container-fluid">
  <div class="row">
    {{#if error}}
      <h4 class="text-danger" style="text-align:center;">Error with username or password</h4>
    {{/if}}
    <div class="col-sm-6 col-sm-offset-3" style="border:2px solid black; text-align:center; border-radius: 1em;">
      <h4> Login </h4>
      <form action="/login" method="post" class="form-group">
        <input type="text" name="username" placeholder="Username" class="form-control"><br>
        <input type="password" name="password" placeholder="Password" class="form-control"><br>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </div>
  </div>
  <div class="row" style="margin-top:1em;">
    <div class="col-sm-6 col-sm-offset-3" style="border:2px solid black; text-align:center; border-radius: 1em;">
      <form action="/signup" method="post" class="form-group">
        <h4> Sign Up </h4>
        <input type="text" name="username" placeholder="New Username" class="form-control"><br>
        <input type="password" name="password" placeholder="New Password" class="form-control"><br>
        <button type="submit" class="btn btn-success">Sign Up</button>
      </form>
      </div>
    </div>
  </div>
