<div class='panel panel-default'>
  <div class='panel-success'>
    Spend your money
  </div>
  <div class='panel-body'>
    item1
  </div>
  <div class='panel-body'>
    item2
  </div>
</div>
