@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
* {
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	padding: 0;
}

a,
a:hover,
a:focus {
	text-decoration: none;
	color: black;
}

body {
	background-color: #f6f6f6;
}

input {
	border: none;
	font-family: 'Quicksand', sans-serif;
	background-color: #f6f6f6;
	height: 40px;
	margin-top: 10px;
	text-align: center;
}

input::placeholder {
	color: black;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

input:focus {
	outline: none;
	background-color: #f6f6f6;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #f6f6f6 inset;
}

p {
	margin-bottom: 0;
}

.fa {
	margin-right: 20px;
}

.main-header {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 150px;
	background-color: white;
}

.sub-header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	margin-top: 3px;
	background-color: white;
}

.landing-page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 90vh;
}

.side-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 33.3%;
	height: 100%;
}

.side-section p {
	margin-left: 15px;
}

.dot {
	font-weight: bold;
}

.main-pic {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33.3%;
	height: 100%;
}

.signin-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 800px;
	height: 250px;
	background-color: white;
	margin-top: 30px;
}

.signup-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 800px;
	height: 350px;
	background-color: white;
	margin-top: 30px;
}

.signin-title {
	margin-top: 20px;
}

.footer-bar {
	width: 100%;
	height: 30px;
	background-color: #282828;
}

.line {
	width: 7%;
	background-color: black;
	font-size: 1.1em;
}

.input-group {
	width: 30%;
	display: flex;
	flex-direction: column;
}

.login-register-btn {
	margin-top: 20px;
	margin-bottom: 20px;
	border: none;
	font-family: 'Quicksand', sans-serif;
	background-color: white;
}

.under-line {
	text-decoration: underline;
}

money {
	color: green;
}

.hello {
	margin-top: 25px;
	display: block;
	width: 100%;
}

.nested-line {
	margin-right: 20px;
}

.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 45%;
	margin: 0 auto;
	height: 190px;
	background-color: white;
	margin-top: 30px;
	margin-bottom: 30px;
}

.profile p {
	margin-top: 10px;
}

.crazy-boxes {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	border-bottom: 5px solid white;
	padding-bottom: 30px;
}

.crazy-box div {
	widows: 50%;
}

.diamond {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100px;
	height: 100px;
}

.diamond img {
	width: 50px;
}

.svg-container {
	/*width: 100%;*/
	height: 900px;
	width: 1000px;
	overflow-x: scroll;
	overflow-y: scroll;
}

svg {
  display: block;
  width: 1000px;
  height: 100%;
}

@keyframes rainbow-text {
	0% {
		color: #e87d7d;
	}
	2% {
		color: #e88a7d;
	}
	4% {
		color: #e8977d;
	}
	6% {
		color: #e8a47d;
	}
	8% {
		color: #e8b07d;
	}
	10% {
		color: #e8bd7d;
	}
	12% {
		color: #e8ca7d;
	}
	14% {
		color: #e8d77d;
	}
	16% {
		color: #e8e47d;
	}
	18% {
		color: #dfe87d;
	}
	20% {
		color: #d3e87d;
	}
	22% {
		color: #c6e87d;
	}
	24% {
		color: #b9e87d;
	}
	26% {
		color: #ace87d;
	}
	28% {
		color: #9fe87d;
	}
	30% {
		color: #92e87d;
	}
	32% {
		color: #86e87d;
	}
	34% {
		color: #7de881;
	}
	36% {
		color: #7de88e;
	}
	38% {
		color: #7de89b;
	}
	40% {
		color: #7de8a8;
	}
	42% {
		color: #7de8b5;
	}
	44% {
		color: #7de8c1;
	}
	46% {
		color: #7de8ce;
	}
	48% {
		color: #7de8db;
	}
	50% {
		color: #7de8e8;
	}
	52% {
		color: #7ddbe8;
	}
	54% {
		color: #7dcee8;
	}
	56% {
		color: #7dc1e8;
	}
	58% {
		color: #7db5e8;
	}
	60% {
		color: #7da8e8;
	}
	62% {
		color: #7d9be8;
	}
	64% {
		color: #7d8ee8;
	}
	66% {
		color: #7d81e8;
	}
	68% {
		color: #867de8;
	}
	70% {
		color: #927de8;
	}
	72% {
		color: #9f7de8;
	}
	74% {
		color: #ac7de8;
	}
	76% {
		color: #b97de8;
	}
	78% {
		color: #c67de8;
	}
	80% {
		color: #d37de8;
	}
	82% {
		color: #df7de8;
	}
	84% {
		color: #e87de4;
	}
	86% {
		color: #e87dd7;
	}
	88% {
		color: #e87dca;
	}
	90% {
		color: #e87dbd;
	}
	92% {
		color: #e87db0;
	}
	94% {
		color: #e87da4;
	}
	96% {
		color: #e87d97;
	}
	98% {
		color: #e87d8a;
	}
	100% {
		color: #e87d7d;
	}
}

.rainbow-text {
	animation: rainbow-text 6s infinite 0s, rainbow-text 4s infinite 2s;
}
